@reference "tailwindcss";

.card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 150px;
  width: 385px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  border: solid #ffffff;
}

.nom {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 4px;
}
.prenom {
  font-size: 18px;
  font-weight: 300;
  color: #111827;
  margin-bottom: 4px;
}

.role {
  font-size: 14px;
  color: black;
  font-weight: 700;
}
